.Header {
}

.Header__Div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 0 8px 12px;
}

.Header__Text {
  color: #7e8185;
  font-weight: 600;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
}

.Header__Hr{
    margin: 0;
    border: 1px solid #D1D1D1;
}